@model iKnow.Models.Answer

@Html.Partial("_AnswerPanelHeaderPartial")
<div class="answer-panel-content">
    @Html.Raw(Model.Content)
    <div class="answer-footer">
        Answered @Model.CreatedDate.ToString("MMM d, yyyy")
    </div>
</div>

