@model iKnow.Models.AppUser
<div class="answer-panel-header">
    @if (Model != null) {
        <div class="img-container">
            <a href="@Model.ProfilePageUrl">
                <img src=@Model.IconPath />
            </a>
        </div>
        <div class="user-info">
            <a href="@Model.ProfilePageUrl">
                <b>@Model.FullName</b>
            </a>
            <div class="user-intro">@Model.Intro</div>
        </div>
    }
</div>
