<div class="sidebar-site-info">
    <span>@Html.ActionLink("iKnow", "Index", "Home")</span>
    &middot;
    <span>@Html.ActionLink("Contact us", "ContactUs", "Home")</span>
    <div>&copy;@(DateTime.Now.Year + " iKnow")</div>
</div>