<div class="sidebar-site-info">
    <span>@Html.ActionLink("iKnow", "Index", "Home", null, new {@class="text-link"})</span>
    &middot;
    <span>@Html.ActionLink("Contact us", "Contact", "Home", null, new { @class = "text-link" })</span>
    <div>&copy;&nbsp;@(DateTime.Now.Year + " iKnow")</div>
</div>