<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="GmailUserName" value="fuzicabin@gmail.com"/>
  <add key="GmailPassword" value="fuzi12345"/>
  <add key="GmailHost" value="smtp.gmail.com"/>
  <add key="GmailPort" value="587"/>
  <add key="GmailSsl" value="true"/>
</appSettings>