@model iKnow.Core.ViewModels.QuestionAnswerCountViewModel
@{
    ViewBag.Title = "Questions";
    ViewBag.CurrentPage = "Answer";
}

<div class="answer-container main-content-container">
    <div class="content-header">
        <h3>Recommended Questions</h3>
    </div>
    <div class="answer-body load-more-list">
        @Html.Partial("_AnswerQuestionListPartial", Model.QuestionsWithAnswerCount)
    </div>
    @Html.Partial("_LoadMorePartial")
</div>

<div class="sidebar ">
    <div class="topic-sidebar sidebar-section divided-section">
        @await Component.InvokeAsync("GetRecommendedTopics")
    </div>
    <div class="sidebar-section divided-section">
        @Html.Partial("_SideBarSiteInfoPartial")
    </div>
</div>

@section scripts {
    <script>
        LoadMoreController.init("answer");
    </script>
}