@using iKnow.Models
@model Topic

<div class="topic-body">
    <h5>About</h5>
    @Html.ActionLink("Enter Topic", "Detail", "Topic", new { id = Model.Id }, null)
    <p id="topic-description">@Model.Description</p>
</div>