@using iKnow.Models
@model Topic

<h4>About</h4>
@Html.ActionLink("Enter Topic", "Detail", "Topic", new { id = Model.Id }, new {@class="enter-topic btn"})
<p id="topic-description">@Model.Description</p>

@Html.ActionLink("+Add Topic", "Add", "Topic", null, new { @class = "add-topic" })
