@model iKnow.ViewModels.TopicDetailViewModel
@{
    ViewBag.Title = "Detail";
    ViewBag.ShowFooter = true;
}

<div class="topic-detail-container main-content-container">
    <div class="content-header">
        <img src="@Model.Topic.IconPath" class="topic-icon" />
        <h2>
            @Model.Topic.Name
        </h2>
    </div>

    <div class="topic-detail-inner question-answer-container">
        @Html.Partial("_QuestionAnswerPairPartial", Model.QuestionAnswers)
    </div>
</div>

<div class="sidebar">
    <div class="sidebar-section divided-section">
        <h3 class="sidebar-title">About</h3>
        <p>@Model.Topic.Description</p>
    </div>
</div>

@section footer {
    <div class="footer content-container">
        &copy;@(DateTime.Now.Year + " iKnow")
    </div>
}