@using iKnow.ViewModels
@model TopicIndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="topic-container main-content-container">
    <h3 class="page-title">Topics</h3>
    <ul class="topic-list">
        @foreach (var topic in Model.Topics) {
            <li data-topic-id="@topic.Id" class="@(Model.SelectedTopic.Id == topic.Id ? "active" : "")">@topic.Name</li>
        }
    </ul>
    <div class="topic-body">
        @Html.Partial("_TopicBodyPartial", Model.SelectedTopic)
    </div>
</div>

<div class="sidebar topic-sidebar">
    <h3>Hot Topics</h3>
</div>


