@using iKnow.Core.Models
@model IEnumerable<Activity>

@foreach (var activity in Model)
{
    <div class="activity-panel divided-section">
        @switch (activity.Type)
        {
            case ActivityType.FollowTopic:
                @await Component.InvokeAsync("GetFollowTopic", new { id = activity.Id })
                break;
            case ActivityType.AnswerQuestion:
                @await Component.InvokeAsync("GetAnswerQuestion", new { id = activity.Id })
                break;
            case ActivityType.LikeAnswer:
                @await Component.InvokeAsync("GetLikeAnswer", new { id = activity.Id })
                break;
            case ActivityType.AddQuestion:
                @await Component.InvokeAsync("GetAddQuestion", new { id = activity.Id })
                break;
        }
    </div>
}
