@using iKnow.Core.Models
@model IEnumerable<Activity>

@foreach (var activity in Model) {
    <div class="activity-panel divided-section">
        @switch (activity.Type) {
            case ActivityType.FollowTopic:
                @Html.Action("GetFollowTopic", "Activity", new { id = activity.Id })
                break;
            case ActivityType.AnswerQuestion:
                @Html.Action("GetAnswerQuestion", "Activity", new { id = activity.Id })
                break;
            case ActivityType.AddQuestion:
                @Html.Action("GetAddQuestion", "Activity", new { id = activity.Id })
                break;
        }
    </div>
}
