@{
    ViewBag.Title = "Forgot password confirmation";
}

<div class="password-container">
    <h3 class="content-header">@ViewBag.Title</h3>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>