body, pre {
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    word-wrap: break-word;
}

    body.modal-open {
        overflow: hidden;
        /*margin-right: 17px;*/
    }

/* only valid if all pages have scroll bar*/
/*body.modal-open .navbar .content-container{
        position: relative;
        right: 8.5px;
    }*/

input, textarea, select, button {
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

/*h1, h2, h3, h4, h5, h6, b, em {
    font-family: "Segoe UI",Arial,sans-serif;
}*/

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

    a:hover {
        text-decoration: underline;
    }

    a.no-underline:hover {
        text-decoration: none;
    }

textarea {
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
}

textarea, input {
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    padding: 6px 12px;
}

button {
    outline: none;
    user-select: none;
}

.align-right {
    margin-left: auto;
}

::-webkit-input-placeholder { /* Chrome */
    color: #999;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #999;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #999;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: #999;
    opacity: 1;
}


img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.img-container {
    background-color: transparent;
    overflow: hidden;
    position: relative;
}

.content-container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.box-shadow {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.hide {
    display: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

label {
    margin-right: 10px;
    width: 150px;
    display: inline-block;
}

a.btn, button.btn, input.btn {
    border-radius: 2px;
    background-color: #297fa3;
    font-size: 14px;
    font-weight: 500;
    color: #fefefe;
    padding: 0 30px;
    cursor: pointer;
    display: inline-block;
    line-height: 30px;
    height: 30px;
    border: none;
}

    a.btn:hover, button.btn:hover {
        background: #368BC1;
        box-shadow: 0px 0px 2px #368BC1;
        -moz-box-shadow: 0px 0px 2px #368BC1;
        -webkit-box-shadow: 0px 0px 2px #368BC1;
        text-decoration: none;
    }

    a.btn:active, button.btn:active {
        background-color: #277aac;
        box-shadow: inset 0px 0px 10px #174a80;
        -moz-box-shadow: inset 0px 0px 10px #174a80;
        -webkit-box-shadow: inset 0px 0px 10px #174a80;
    }

.btn.btn-delete {
    background-color: #795548;
}

    .btn.btn-delete:hover {
        background: #836155;
        box-shadow: 0px 0px 2px #836155;
        -moz-box-shadow: 0px 0px 2px #836155;
        -webkit-box-shadow: 0px 0px 2px #836155;
    }

    .btn.btn-delete:active {
        background-color: #765040;
        box-shadow: inset 0px 0px 10px #502920;
        -moz-box-shadow: inset 0px 0px 10px #502920;
        -webkit-box-shadow: inset 0px 0px 10px #502920;
    }

.btn.btn-grey {
    background-color: #aaa;
}

    .btn.btn-grey:hover {
        background: #bbb;
        box-shadow: 0px 0px 2px #bbb;
        -moz-box-shadow: 0px 0px 2px #bbb;
        -webkit-box-shadow: 0px 0px 2px #bbb;
    }

    .btn.btn-grey:active {
        background-color: #a0a0a0;
        box-shadow: inset 0px 0px 10px #808080;
        -moz-box-shadow: inset 0px 0px 10px #808080;
        -webkit-box-shadow: inset 0px 0px 10px #808080;
    }

.btn-func {
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-white {
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    padding: 4px 8px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    color: #297fa3;
    border: 1px solid #297fa3;
}

input[type="password"]:focus,
input[type="text"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #206890;
    box-shadow: 0px 0px 4px #206890;
    -moz-box-shadow: 0px 0px 4px #206890;
    -webkit-box-shadow: 0px 0px 4px #206890;
}

.form-group {
    width: 560px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .form-group label {
        flex: 0 0 auto;
    }

    .form-group input {
        flex: 1 1 auto;
        height: 37px;
        box-sizing: border-box;
    }

        .form-group input[type=radio] {
            flex: 0 0 auto;
            height: auto;
        }

.underline {
    text-decoration: underline;
}

.question-answer-inner {
    width: 100%;
}

.panel,
.question-container-inner .question-answer-inner {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.head-panel {
    padding: 16px;
    margin-top: -25px;
}

.footer {
    padding: 20px 15px;
    border-top: 1px solid #ccc;
    color: #8590a6;
}

.text-link {
    color: #8590a6;
}

    .text-link:hover {
        color: #259;
        text-decoration: none;
    }

.trigger-edit {
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
}

    .trigger-edit i {
        margin-right: 3px;
    }

blockquote {
    color: #6b7a8c;
    border-left: 4px solid #cfd8e6;
    padding-left: 1em;
    margin: 0;
}

.blue-link-color {
    color: #259;
}

.divided-section,
.topic-detail-inner .question-answer-inner {
    position: relative;
}

    .divided-section + .divided-section:after,
    .topic-detail-inner .question-answer-inner:not(:first-of-type):after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        border-bottom: 1px solid #eee;
        content: "";
    }

.sidebar {
    width: 270px;
    margin-left: auto;
    color: #666;
    font-size: 14px;
}

    .sidebar .panel {
        margin-left: -30px;
        padding: 0 20px;
    }

.sidebar-section {
    margin-bottom: 15px;
    padding-top: 15px;
}

.sidebar-title {
    margin-bottom: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    background: #297fa3;
    color: white;
    z-index: 100;
}

    .navbar .navbar-nav a,
    .logo a,
    .login-link,
    .user-profile-inner {
        color: white;
    }

        .navbar .navbar-nav a:hover,
        .logo a:hover,
        .login-link:hover,
        .user-profile-inner:hover {
            text-decoration: none;
            color: #eee;
        }

    .navbar .content-container {
        height: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    .navbar .logo {
        font-size: 2rem;
        margin-right: 10px;
        flex: 0 0 auto;
        min-width: 120px;
    }

    .navbar .search-container {
        margin-right: 20px;
        flex: 0 0 auto;
    }

.navbar-nav {
    flex: 0 0 auto;
    height: 45px;
    line-height: 45px;
}

ul.navbar-nav li {
    height: 100%;
    display: inline-block;
}

    ul.navbar-nav li a {
        padding: 0 10px;
        display: inline-block;
    }

.navbar-nav li.active {
    background: #206890;
}

.navbar .add-question-button {
    margin-left: 30px;
    background-color: #368ab0;
    border: 1px solid #277aac;
    line-height: 28px;
}

    .navbar .add-question-button:hover {
        color: #eee;
    }


.navbar .navbar-user {
    display: inline-block;
    height: 100%;
    flex: 0 0 auto;
    margin-left: auto;
    margin-right: 10px;
    position: relative;
}

.main {
    margin-top: 70px;
    margin-bottom: 10px;
    min-height: calc(100vh - 145px);
}

    .main .content-container {
        position: relative;
        display: flex;
    }

        .main .content-container > div:first-of-type {
            flex: 1 1 auto;
        }

.flex-order-1 {
    order: 1;
}

.flex-order-2 {
    order: 2;
}

.return-link {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 14px;
    color: #259;
    line-height: 1.75rem;
}

/*#region topic */

.main-content-container {
    width: 632px;
    max-width: 632px;
    padding-bottom: 10px;
}

.content-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.topic-container .topic-list {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

    .topic-container .topic-list li {
        display: inline-block;
        padding: 3px 12px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 30px;
        border: 1px solid #daecf5;
        color: #297fa3;
        cursor: pointer;
    }

        .topic-container .topic-list li.active {
            background-color: #297fa3;
            color: white;
        }

.topic-container .topic-body {
    position: relative;
    margin-bottom: 40px;
}

    .topic-container .topic-body > a {
        display: inline-block;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .topic-container .topic-body .enter-topic {
        position: absolute;
        right: 0;
        top: -3px;
    }

    .topic-container .topic-body .add-topic {
        position: absolute;
        right: 150px;
        top: 0;
        font-size: 14px;
        color: #259;
        line-height: 24px;
    }

    .topic-container .topic-body .topic-about {
        display: flex;
    }

        .topic-container .topic-body .topic-about p {
            flex: 1;
            min-width: 50%;
            white-space: pre-wrap;
        }

        .topic-container .topic-body .topic-about img {
            border-radius: 4px;
        }

.topic-about .img-container {
    margin-right: 30px;
    margin-top: 5px;
    width: 60px;
    min-width: 60px;
    height: 60px;
}

.topic-form-container .img-container {
    border-radius: 4px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}

.topic-form-container textarea {
    overflow-y: auto;
}

.topic-detail-container .content-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .topic-detail-container .content-header .img-container {
        margin-right: 15px;
        padding-bottom: 10px;
        width: 60px;
        height: 60px;
    }

.topic-detail-inner .question-answer-inner {
    padding: 16px 0;
}

.topic-detail-inner .question-answer-topic {
    display: none;
}

.topic-empty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    color: #8590a6;
}

    .topic-empty-container i {
        opacity: 0.3;
        margin-bottom: 10px;
    }

.question-answer-content {
    font-size: 15px;
    line-height: 1.6;
}

    .question-answer-content .question-answer-content-text {
        min-width: 50%;
        flex: 1;
    }

.short-answer-container .question-answer-content {
    display: flex;
    word-wrap: break-word;
}

    .short-answer-container .question-answer-content .img-container {
        width: 190px;
        height: 100px;
        flex: 0 0 auto;
        margin-top: 5px;
        margin-right: 18px;
        margin-bottom: 4px;
    }

        .short-answer-container .question-answer-content .img-container img {
            position: static;
            width: 100%;
            object-fit: cover;
            transform: none;
            border-radius: 4px;
        }

.short-answer-container .img-container + span {
    margin-top: 7px;
}

.question-answer-name {
    font-size: 20px;
    line-height: 1.2;
}

.question-author {
    display: flex;
    align-items: center;
    margin: 13px 0 10px 0;
}

    .question-author .img-container {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

.short-answer-container {
    cursor: pointer;
}

.question-answer-content .answer-footer {
    padding-bottom: 0;
}

.collapse-answer {
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
}

a.collapse-answer:hover {
    color: #259;
    text-decoration: none !important;
}

/*#endregion topic */


/*#region Question */
.question-container-inner .main-content-container,
.answer-container-inner .main-content-container {
    font-size: 15px;
    line-height: 1.6;
}

.modal-container {
    display: none;
}

    .modal-container.open {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .65);
        overflow-x: hidden;
        z-index: 200;
    }

    .modal-container .modal-inner {
        width: 620px;
        max-height: calc(100vh - 50px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        color: #8590a6;
        background-color: white;
        text-align: center;
        box-shadow: 0 5px 20px 0 rgba(0,34,77,.5);
        border-radius: 2px;
        overflow-y: auto;
    }

        .modal-container .modal-inner form {
            width: 560px;
        }

        .modal-container .modal-inner.question-topic-inner {
            overflow-y: visible;
        }

            .modal-container .modal-inner.question-topic-inner .form-group {
                margin-top: 20px;
            }

        .modal-container .modal-inner h2 {
            color: #262626;
            margin-top: 20px;
        }

        .modal-container .modal-inner .add-question-title,
        .modal-container .modal-inner .add-question-title {
            width: 100%;
            min-height: 50px;
            margin-top: 20px;
            box-sizing: border-box;
        }

        .modal-container .modal-inner .form-group {
            text-align: left;
            margin-top: 8px;
        }

        .modal-container .modal-inner .add-question-description p {
            margin-top: 35px;
            color: #404040;
            text-align: left;
        }

        .modal-container .modal-inner .add-question-description textarea {
            width: 100%;
            min-height: 70px;
            margin-top: 10px;
        }

        .modal-container .modal-inner button {
            margin-bottom: 20px;
        }

    .modal-container .chosen-choices {
        border: 1px solid #e7eaf1;
        border-radius: 3px;
        padding: 6px 12px;
        box-shadow: none;
        background-image: none;
        min-height: 50px;
        overflow-y: auto;
    }

    .modal-container .chosen-container .chosen-results {
        max-height: 150px;
    }

    .modal-container .chosen-choices:visited {
        outline: none;
        border: 1px solid #206890;
        box-shadow: 0px 0px 4px #206890;
        -moz-box-shadow: 0px 0px 4px #206890;
        -webkit-box-shadow: 0px 0px 4px #206890;
    }

    .modal-container .chosen-container-multi .chosen-choices li.search-choice {
        padding-right: 25px !important;
    }

        .modal-container .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
            opacity: 0.6;
            top: 9px;
            right: 8px;
            background: url(chosen-sprite.png) -42px 2px no-repeat;
        }

            .modal-container .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
                background-position: -42px -10px;
                top: 10px;
            }

    .modal-container .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        height: 30px;
    }

.question-header-panel {
    padding-right: 180px;
    background-color: white;
}

    .question-header-panel p {
        margin-top: 5px;
        margin-bottom: 15px;
        white-space: pre-wrap;
    }

    .question-header-panel ul {
        margin: 5px 0;
        display: inline-block;
    }

    .question-header-panel li,
    .search-result ul li,
    .modal-container .chosen-container-multi .chosen-choices li.search-choice {
        display: inline-block;
        height: 30px;
        padding: 0 12px;
        font-size: 14px;
        line-height: 30px;
        color: #297fa3;
        background: #eef4fa;
        border-radius: 100px;
        margin: 3px 5px 3px 0;
        border: none;
    }

    .question-header-panel .trigger-edit {
        margin-left: 10px;
        white-space: nowrap;
    }

.question-detail-container,
.answer-detail-container {
    display: flex;
}

.add-answer-panel {
    overflow: visible;
}

    .add-answer-panel .answer-panel-header {
        padding: 16px 20px;
    }

    .add-answer-panel .rich-editor {
        min-height: 160px;
        position: relative;
        overflow-y: hidden;
    }

        .add-answer-panel .rich-editor .full-screen {
            position: absolute;
            right: 25px;
            top: 9px;
            width: 20px;
            height: 20px;
            z-index: 100;
            background-color: transparent;
            color: #444;
            border: none;
            padding: 2px;
            opacity: 0.6;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .add-answer-panel .rich-editor .full-screen:hover {
                color: #06c;
                cursor: pointer;
            }

.answer-content p,
.answer-content li,
.answer-content blockquote {
    margin-bottom: 1em !important;
    margin-top: 0 !important;
}

    .answer-content li + li {
        margin-top: -8px !important;
    }

.rich-editor .ql-toolbar.ql-snow {
    border-left: none;
    border-right: none;
    border-top: 1px solid #d7e0e2;
    border-bottom: 1px solid #d7e0e2;
    height: 42px;
}

.rich-editor-inner.ql-container.ql-snow {
    min-height: 120px;
    font-family: inherit;
    font-size: 15px;
    line-height: 1.6;
    max-height: calc(100vh - 236px);
    border: none;
}

.rich-editor .ql-editor {
    padding: 12px 20px;
    max-height: calc(100vh - 260px);
    line-height: 1.6;
}

.rich-editor .ql-toolbar {
    opacity: 0.6;
}

.answer-content h1,
.answer-content h2,
.answer-content h3,
.answer-content h4,
.answer-content h5,
.answer-content h6 {
    font-size: 18px !important;
    margin: 1em 0 !important;
}

.rich-editor .ql-snow .ql-editor blockquote {
    border-left: 4px solid #cfd8e6;
}

.rich-editor .ql-editor.ql-blank::before {
    color: #444;
    opacity: 0.6;
    font-style: normal;
    left: 20px;
}

.rich-editor .rich-editor-footer {
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 500;
    padding: 0 20px;
}

.editor-full-screen .add-answer-panel form {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.ediotr-full-screen .main,
.editor-full-screen .add-answer-panel {
    position: relative;
    z-index: 200;
}

    .add-answer-panel .rich-editor .exit-full-screen,
    .editor-full-screen .add-answer-panel .rich-editor .enter-full-screen {
        display: none;
    }

    .editor-full-screen .add-answer-panel .rich-editor .exit-full-screen {
        display: block;
    }


.editor-full-screen .rich-editor {
    width: 632px;
    height: calc(100vh);
    margin: 0 auto;
}

    .editor-full-screen .rich-editor .rich-editor-inner.ql-container.ql-snow,
    .editor-full-screen .rich-editor .ql-editor {
        height: calc(100vh - 94px);
        max-height: none;
    }

h3.question-answer-name > a,
.answer-body h3 > a {
    color: #259;
    font-size: 1.2rem;
}



/*#endregion Question */


/*#region Answer Detail */

.user-intro {
    color: #555;
    font-size: 14px;
}

.answer-panel-header {
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}

    .answer-panel-header .img-container {
        width: 38px;
        height: 38px;
        border-radius: 2px;
        margin-right: 15px;
        flex: 0 0 auto;
    }

.answer-content {
    word-wrap: break-word;
}

    .answer-content ol, .answer-content ul {
        padding-left: 1.5em;
    }

    .answer-content li::before {
        display: inline-block;
        white-space: nowrap;
        width: 1.2em;
        content: '\2022';
    }

    .answer-content ol li {
        counter-increment: list-0 !important;
    }

        .answer-content ol li:before {
            content: counter(list-0, decimal) '. ' !important;
        }

    .answer-content p, .answer-content li {
        margin-bottom: 1em;
    }

.rich-editor .ql-snow .ql-editor li {
    padding-left: 0 !important;
}

.answer-content img {
    position: static;
    max-width: 95%;
    transform: none;
    margin: 1em auto;
    display: block;
}

.answer-content .answer-panel-header img {
    margin: 0;
}

.answer-content a {
    color: #259 !important;
    text-decoration: none !important;
}

    .answer-content a:hover {
        text-decoration: underline !important;
    }

.answer-container-inner .answer-panel {
    padding: 16px 20px 0;
}

.answer-container-inner .answer-detail-container .answer-footer {
    margin-bottom: 16px;
}

.answer-panel-container > div {
    background-color: white;
    margin-bottom: 10px;
}

.answer-panel-container .view-all-answers a,
.question-content-footer {
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
}

.empty-question-footer {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8590a6;
}

    .empty-question-footer a {
        display: inline;
    }

    .empty-question-footer i {
        opacity: 0.3;
        margin-bottom: 10px;
    }

.whole-panel {
    padding: 0 20px;
}

    .whole-panel .divided-section {
        padding-top: 16px;
        padding-bottom: 16px;
    }

.panel .sidebar-title, .panel-title {
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    color: #333;
    font-size: 14px;
    margin-bottom: 0;
}

.answer-panel-content {
    font-size: 16px;
    line-height: 1.6;
}

.answer-footer {
    font-size: 14px;
    color: #8590a6;
    margin-top: 10px;
    display: flex;
}

.answer-edit-icon {
    margin-bottom: 6px;
    color: #259;
    cursor: pointer;
    display: inline-block;
    position: relative;
    top: -10px;
}

    .answer-edit-icon i {
        margin-right: 3px;
    }

.answer-panel .answer-panel-header {
    padding-bottom: 10px;
}

.write-answer, .view-answer {
    cursor: pointer;
    display: block;
    color: #297fa3;
}

.question-header-panel .view-answer {
    display: inline-block;
}

.write-answer:hover,
.view-answer:hover {
    background-color: rgba(13,121,209,.06);
    text-decoration: none;
}

.write-answer i,
.view-answer i {
    margin: 0 5px;
}

.answer-container .content-header {
    margin-bottom: 5px;
}

.answer-body .divided-section {
    padding: 16px 0;
}

.answer-body .answer-item-footer {
    font-size: 14px;
    color: #8590a6;
    margin-top: 5px;
}

.load-more {
    font-size: 14px;
    line-height: 1.5;
    color: #8590a6;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    box-sizing: border-box;
}

    .load-more:active {
        background: #ddd;
        box-shadow: none;
    }

    .load-more.end-of-list {
        padding: 0;
        visibility: hidden;
    }

    .load-more > div {
        padding: 5px;
        border: 1px solid #bbb;
        background: linear-gradient(to bottom,#f8f8f9,#e6e6e8);
        box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0,0,0,.1);
        cursor: pointer;
        border-radius: 3px;
    }

/*#endregion Answer Detail*/


/*#region Home */

.question-answer-topic {
    color: #8590a6;
    font-size: 15px;
}

.home-question-answer-container .question-answer-pair-container {
    padding: 16px 20px;
}

.question-answer-inner .user-info,
.answer-panel .user-info,
.answer-panel .user-intro {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*#endregion Home */


/*#region identity */


.login-link {
    cursor: pointer;
    height: 100%;
    line-height: 45px;
}

    .login-link i {
        margin-right: 10px;
    }


.login-inner {
    display: flex;
    align-items: flex-end;
}


.login-form-container form {
    display: inline-block;
    border-right: 1px solid #eee;
    width: 50%;
    margin-right: 60px;
}

.login-form-container .form-group,
.password-container .form-group {
    width: 420px;
}

.login-form-container .content-header,
.password-container .content-header {
    margin-bottom: 50px;
}

.password-container .btn {
    flex: 0 0 auto;
    margin-left: auto;
}

.login-buttons {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 0;
}

    .login-buttons a {
        flex: 0 0 auto;
        font-size: 14px;
        color: #8590a6;
    }

    .login-buttons .btn {
        flex: 0 0 auto;
        margin-left: auto;
    }

.register-container {
    display: inline-block;
}

    .register-container a {
        color: #259;
        margin-top: 15px;
        margin-left: 5px;
        display: inline-block;
        cursor: pointer;
    }

.modal-container .modal-inner .register-form {
    width: auto;
}

.modal-container .modal-inner.register-modal-inner {
    width: 450px;
}

.register-form .form-group {
    width: 360px;
}

.register-form h2 {
    margin-bottom: 20px;
}

.register-user-name {
    justify-content: space-between;
}

    .register-user-name input {
        width: 175px;
        flex-grow: 0;
    }
/*#endregion Identity*/

/*#region User Profile */

.user-profile-inner {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
    height: 100%;
    margin: 0 5px;
}

    .user-profile-inner span {
        max-width: 155px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .user-profile-inner .img-container {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

.user-profile-dropdown {
    position: absolute;
    left: 0;
    top: 45px;
}

.user-profile-dropdown-item {
    height: 40px;
    line-height: 40px;
    width: 120px;
    border-top: 1px solid #206890;
    box-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: #297fa3;
    color: white;
    cursor: pointer;
}

    .user-profile-dropdown-item:hover {
        background-color: #368ab0;
    }

    .user-profile-dropdown-item i {
        margin-right: 8px;
        margin-left: 14px;
    }

    .user-profile-dropdown-item a {
        height: 100%;
        display: block;
    }

        .user-profile-dropdown-item a:hover {
            text-decoration: none;
        }

    .user-profile-dropdown-item form {
        height: 100%;
        width: 100%;
    }

        .user-profile-dropdown-item form button {
            height: 100%;
            width: 100%;
            border: 0;
            text-align: left;
            background-color: #297fa3;
            color: white;
            cursor: pointer;
            padding: 0;
        }

            .user-profile-dropdown-item form button:hover {
                background-color: #368ab0;
            }

.user-profile-container form,
.user-profile-container .user-profile-header {
    display: flex;
}

.user-profile-container .user-profile-header {
    padding-top: 30px;
}

    .user-profile-container .user-profile-header .btn {
        align-self: flex-end;
        margin-bottom: 20px;
        margin-right: 20px;
    }

.user-profile-container .edit-profile-photo {
    width: 160px;
    height: 160px;
    border-radius: 8px;
    border: 1px solid white;
    margin-right: 40px;
}

.user-profile-container .gender-setting span {
    font-size: 14px;
    margin-right: 2px;
}

.user-profile-container .gender-setting input {
    margin-right: 30px;
}

.user-profile-container .user-profile-form-content a {
    font-size: 14px;
    color: #259;
}

.user-profile-form-content .btn {
    margin-left: auto;
}


.user-profile-container .user-profile-header span {
    font-size: 14px;
}

.user-profile-detail-container {
    display: flex;
}

.user-profile-detail-container .whole-panel .divided-section {
    padding-bottom: 20px;
}
.edit-profile-photo .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mask-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
}

.mask-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
    font-size: 18px;
    cursor: pointer;
}

    .mask-content i {
        font-size: 28px;
        margin-bottom: 10px;
    }

/*#endregion User Profile*/

/*#region Activity */

.activity-header {
    display: flex;
    justify-content: flex-start;
    color: #8590a6;
    line-height: 1.5;
    margin-bottom: 10px;
}

.activity-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.activity-topic-inner .activity-topic-text {
    overflow-x: hidden;
}

    .activity-topic-inner .activity-topic-text .activity-topic-description {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

.activity-topic-inner .img-container {
    width: 60px;
    height: 60px;
    flex: 0 0 auto;
    margin-right: 15px;
}

/*#endregion */


/*#region sidebar */

.panel .related-question-list {
    padding-top: 16px;
    padding-bottom: 4px;
}

.panel .recommended-topic-list {
    padding-top: 10px;
    padding-bottom: 6px;
}

.related-question-list .related-question-item {
    margin-bottom: 16px;
}

.related-question-item a {
    color: #259;
}

.related-question-item .related-question-item-count {
    color: #8590a6;
    white-space: nowrap;
}

.recommended-topic-item {
    display: flex;
    padding-top: 6px;
    margin-bottom: 10px;
    line-height: 40px;
    height: 40px;
}

.recommended-topic-img {
    display: inline-block;
    margin-right: 16px;
}

.recommended-topic-item .img-container {
    width: 40px;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
}

.recommended-topic-item span {
    font-weight: bold;
    color: #259;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-site-info {
    color: #8590a6;
    line-height: 2;
}

.question-sidebar .sidebar-site-info {
    margin-left: -26px;
    padding-top: 5px;
    line-height: 1.8;
}

.topic-description-sidebar p {
    white-space: pre-wrap;
}

/*#endregion sidebar*/

/*#region search */

.search-container {
    position: relative;
    font-size: 15px;
}

.search {
    border: 1px solid #206890;
    width: 220px;
    height: 18px;
    background-color: #e1eaf2;
}

    .search:focus {
        background-color: white;
    }

.search-container .btn {
    height: 32px;
    width: 32px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 3px 3px 0;
    border: 1px solid #206890;
    padding: 0;
}

    .search-container .btn:active {
        box-shadow: inset 0 0 1px rgba(0,0,0,.5);
    }

.search-result-container {
    position: absolute;
    top: 31px;
    left: 1px;
    z-index: 10;
    width: 600px;
    background: #fff;
    border: 0 none rgba(0,0,0,0);
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,.5);
    color: #222;
    overflow: hidden;
}

.search-result ul {
    padding: 8px;
}

    .search-result ul li {
        height: auto;
        line-height: inherit;
    }

    .search-result ul a:hover {
        text-decoration: underline;
    }

.search-result-title {
    padding: 2px 8px;
    background: #f6f6f6;
    font-size: 14px;
    font-weight: 500;
}

.search-result-question a {
    padding: 8px;
    display: block;
    height: 100%;
}

    .search-result-question a:hover {
        text-decoration: none;
        background-color: #eef4fa;
    }

.search-answer-count {
    color: #8590a6;
}

.search-no-result {
    color: #666;
    padding: 8px;
}
/*#endregion search*/

/*#region contact */

.contact-content {
    width: 660px;
    font-size: 18px;
    box-sizing: border-box;
    margin-top: 50px;
    margin: 0 auto;
}

    .contact-content p {
        padding: 0 45px;
        padding-bottom: 1em;
    }

    .contact-content .img-container {
        width: 630px;
        height: 450px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

.contact-note {
    font-size: 15px;
    margin-top: 10px;
}

/*#endregion contact */


/*#region error */

.validation-summary-valid {
    display: none;
}

.error, .warning {
    position: fixed;
    top: 50px;
    left: 50%;
    width: auto;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: left;
}

    .validation-summary-errors ul, .warning div {
        margin: 0 auto;
        width: 300px;
    }

        .validation-summary-errors ul li, .warning div, .warning.severe-warning div {
            padding: 15px 15px 15px 50px;
            background-color: #bd362f;
            color: white;
            box-shadow: 0 0 12px #999;
            border-radius: 3px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=);
            background-position: 15px center;
            background-repeat: no-repeat;
            opacity: 0.8;
            font-size: 14px;
            margin-bottom: 6px;
        }

    .warning div {
        background-color: #f89406;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=);
        box-sizing: border-box;
    }

        .validation-summary-errors ul li:hover, .warning div:hover {
            box-shadow: 0 0 12px #000;
            opacity: 1;
            cursor: pointer;
        }

.validation-summary-errors, .warning-display {
    animation: fadeout 8s ease-in;
}

@-moz-keyframes fadeout {
    0% {
        height: auto;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    0% {
        height: auto;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        height: auto;
        opacity: 1;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}


.error-container {
    text-align: center;
}

.error-inner {
    margin-top: 50px;
    display: inline-block;
    text-align: left;
}

    .error-inner p {
        margin: 5px 0;
    }

p.error-link {
    margin-top: 20px;
    font-size: 14px;
    color: #259;
}

/*#endregion error */


/*#region back-top */

.back-top-container {
    position: fixed;
    left: 50%;
    margin-left: 230px;
    z-index: 50;
    bottom: 120px;
}

.back-top {
    width: 38px;
    height: 38px;
    background-color: #ddd;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    display: block;
}

    .back-top:hover {
        opacity: 0.7;
    }

.arrow, .stick {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}

.arrow {
    width: 0;
    height: 0;
    top: -1px;
    border: 9px solid transparent;
    border-bottom-color: #aaa;
}

.stick {
    width: 7px;
    height: 14px;
    top: 15px;
    border-radius: 1px;
    background-color: #aaa;
}

/*#endregion back-top */
