body, pre {
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
    font-weight: normal;
}

    body.modal-open {
        overflow: hidden;
        /*margin-right: 17px;*/
    }

/* only valid if all pages have scroll bar*/
/*body.modal-open .navbar .content-container{
        position: relative;
        right: 8.5px;
    }*/

input, textarea, select, button {
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    font-size: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

/*h1, h2, h3, h4, h5, h6, b, em {
    font-family: "Segoe UI",Arial,sans-serif;
}*/

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

textarea {
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
}

textarea, input {
    border: 1px solid #e7eaf1;
    border-radius: 3px;
    padding: 6px 12px;
}

button {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome */
    color: #999;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #999;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #999;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: #999;
    opacity: 1;
}


.content-container {
    width: 960px;
    margin: 0 auto;
}

.box-shadow {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.hide {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

label {
    margin-right: 10px;
    width: 150px;
    display: inline-block;
}

a.btn, button.btn, input.btn {
    border: 1px solid #00796B;
    border-radius: 4px;
    background-color: #009797;
    font-size: 14px;
    color: white;
    padding: 4px 10px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
}

    a.btn:hover, button.btn:hover {
        border-color: #004D40;
    }

    a.btn:active, button.btn:active {
        box-shadow: 0 1px 0 rgba(255,255,255,.06), inset 0 1px 2px rgba(0,0,0,.5);
    }

.btn.btn-delete {
    background-color: #795548;
    border-color: #5D4037;
}

.btn-func {
    margin-top: 40px;
    margin-bottom: 10px;
}

.btn-white {
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    padding: 4px 8px;
    cursor: pointer;
    display: inline-block;
    line-height: 1.5;
    color: teal;
    border: 1px solid teal;
}

.form-group {
    width: 560px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .form-group label {
        flex: 0 0 auto;
    }

    .form-group input {
        flex: 1 1 auto;
        height: 37px;
        box-sizing: border-box;
    }

    .form-group .btn {
        padding-left: 18px;
        padding-right: 18px;
    }

.underline {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}

.panel,
.question-container-inner .question-answer-inner {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.footer {
    padding: 20px 15px;
    border-top: 1px solid #ccc;
    color: #999;
}

.text-link {
    color: #8590a6;
}

    .text-link:hover {
        color: #7a8599;
    }

.trigger-edit {
    font-size: 14px;
    line-height: 32px;
    cursor: pointer;
}

    .trigger-edit i {
        margin-right: 3px;
    }

blockquote {
    color: #6b7a8c;
    border-left: 4px solid #cfd8e6;
    padding-left: 1em;
}

.divided-section,
.topic-detail-inner .question-answer-inner {
    position: relative;
}

    .divided-section + .divided-section:after,
    .topic-detail-inner .question-answer-inner:not(:first-of-type):after {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        border-bottom: 1px solid #eee;
        content: "";
    }

.sidebar {
    width: 270px;
    position: absolute;
    top: 0;
    right: 0;
    color: #666;
    font-size: 13px;
}

.sidebar-section {
    margin-top: 15px;
}

.sidebar-title {
    margin-bottom: 10px;
}

.navbar {
    position: fixed;
    top: 0;
    height: 45px;
    width: 100%;
    background-color: teal;
    color: white;
    z-index: 100;
}

    .navbar .content-container {
        height: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    .navbar .logo {
        font-size: 2rem;
        margin-right: 10px;
        flex: 0 0 auto;
        min-width: 150px;
    }

    .navbar .search {
        margin-right: 20px;
        flex: 0 0 auto;
    }

    .navbar ul {
        flex: 0 0 auto;
    }

        .navbar ul li {
            display: inline;
            padding: 0 10px;
        }

    .navbar .navbar-user {
        display: inline-block;
        height: 100%;
        flex: 0 0 auto;
        margin-left: auto;
        margin-right: 10px;
        max-width: 150px;
    }

.main {
    margin-top: 70px;
    margin-bottom: 10px;
}

    .main .content-container {
        position: relative;
    }

/*#region topic */

.topic-icon {
    border-radius: 4px;
}

.main-content-container {
    width: 632px;
    padding-bottom: 10px;
}

.content-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.topic-container .topic-list {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

    .topic-container .topic-list li {
        display: inline-block;
        padding: 3px 12px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 30px;
        border: 1px solid #daecf5;
        color: #009797;
        cursor: pointer;
    }

        .topic-container .topic-list li.active {
            background-color: #009797;
            color: white;
        }

.topic-container .topic-body {
    position: relative;
}

    .topic-container .topic-body h4 {
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .topic-container .topic-body .enter-topic {
        position: absolute;
        right: 0;
        top: -4px;
    }

    .topic-container .topic-body .add-topic {
        position: absolute;
        right: 120px;
        top: 0;
        font-size: 14px;
        color: #2b6dad;
    }

    .topic-container .topic-body .topic-about {
        display: flex;
    }

        .topic-container .topic-body .topic-about img {
            width: 60px;
            min-width: 60px;
            height: 60px;
            margin-right: 30px;
            margin-top: 5px;
        }

.topic-form-container .return-topic {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: #009797;
    line-height: 1.75rem;
}

.topic-form-container .btn-delete {
    margin-left: 12px;
}

.topic-form-container img {
    width: 50px;
    margin-right: 10px;
    vertical-align: text-bottom;
}

.topic-detail-container .content-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .topic-detail-container .content-header img {
        width: 60px;
        margin-right: 10px;
    }

.topic-detail-inner .question-answer-inner {
    padding: 16px 0;
}

.topic-detail-inner .question-answer-topic {
    display: none;
}

.question-answer-content {
    font-size: 15px;
}

.question-answer-name:hover {
    text-decoration: underline;
}

.short-answer-container {
    cursor: pointer;
}

.showFullAnswer {
    color: #2b6dad;
}

.question-answer-content .answer-footer {
    padding-bottom: 0;
}

.collapse-answer {
    margin-left: auto;
    margin-right: 5px;
    cursor: pointer;
}

a.collapse-answer:hover {
    color: #2b6dad;
    text-decoration: none !important;
}

/*#endregion topic */


/*#region Question */
.question-container-inner .main-content-container {
    font-size: 15px;
    line-height: 1.4;
}

.modal-container {
    display: none;
}

    .modal-container.open {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, .65);
        overflow-x: hidden;
        z-index: 200;
    }

    .modal-container .modal-inner {
        width: 600px;
        max-height: calc(100vh - 50px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
        color: #8590a6;
        background-color: white;
        text-align: center;
        box-shadow: 0 5px 20px 0 rgba(0,34,77,.5);
        border-radius: 2px;
        overflow-y: auto;
    }

        .modal-container .modal-inner form {
            width: 556px;
        }

        .modal-container .modal-inner.question-topic-inner {
            overflow-y: visible;
        }
        
        .modal-container .modal-inner.question-topic-inner .form-group {
            margin-top: 20px;
        }

        .modal-container .modal-inner h2 {
            color: #262626;
            margin-top: 20px;
        }

        .modal-container .modal-inner .add-question-title,
        .modal-container .modal-inner .add-question-title {
            width: 100%;
            min-height: 50px;
            margin-top: 20px;
            box-sizing: border-box;
        }

        .modal-container .modal-inner .form-group {
            text-align: left;
            margin-top: 8px;
        }

        .modal-container .modal-inner .add-question-description p {
            margin-top: 35px;
            color: #404040;
            text-align: left;
        }

        .modal-container .modal-inner .add-question-description textarea {
            width: 100%;
            min-height: 70px;
            margin-top: 10px;
        }

        .modal-container .modal-inner button {
            margin-bottom: 20px;
            padding-left: 18px;
            padding-right: 18px;
        }

    .modal-container .chosen-choices {
        border: 1px solid #e7eaf1;
        border-radius: 3px;
        padding: 6px 12px;
        box-shadow: none;
        background-image: none;
        min-height: 50px;
        overflow-y: auto;
    }

    .modal-container .chosen-container-multi .chosen-choices li.search-choice {
        padding-right: 25px !important;
    }

        .modal-container .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
            opacity: 0.6;
            top: 8px;
            right: 8px;
        }

    .modal-container .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        height: 30px;
    }

.question-header-panel {
    padding: 16px;
    background-color: white;
    margin-top: -25px;
}

    .question-header-panel p {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .question-header-panel ul {
        margin: 5px 0;
        display: inline-block;
    }

    .question-header-panel li,
    .modal-container .chosen-container-multi .chosen-choices li.search-choice {
        display: inline-block;
        height: 30px;
        padding: 0 12px;
        font-size: 14px;
        line-height: 30px;
        color: teal;
        background: #eef4fa;
        border-radius: 100px;
        margin: 3px 5px 3px 0;
        border: none;
    }

        .question-header-panel li a:hover {
            border-bottom: 1px solid #00796B;
        }

    .question-header-panel .trigger-edit {
        margin-left: 10px;
    }

.add-answer-panel {
    overflow: visible;
}

    .add-answer-panel .rich-editor {
        min-height: 160px;
    }

.rich-editor .trumbowyg-button-pane {
    border-top: 1px solid #d7e0e2;
    opacity: 0.5;
    background-color: white;
}

.rich-editor .trumbowyg-box {
    min-height: 158px;
    border: none;
    margin: 0 auto;
}

.rich-editor .trumbowyg-editor {
    min-height: 120px;
    padding-bottom: 0;
    padding-top: 12px;
}

.rich-editor .trumbowyg-button-pane::after {
    height: 0;
}

.rich-editor label {
    width: inherit;
}

.rich-editor .trumbowyg-button-pane button:not(.trumbowyg-disable):hover {
    background-color: #ecf0f1;
}

.rich-editor .rich-editor-footer {
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}

h3.question-answer-name > a,
.answer-body h3 > a {
    color: #2b6dad;
    font-size: 1.1rem;
}



/*#endregion Question */


/*#region Answer Detail */

.answer-panel-header {
    padding: 16px 20px;
}

.answer-content p, .answer-content li {
    padding-bottom: 1em;
}


.answer-content ul li {
    list-style-type: disc;
}

.answer-content ul, .answer-content ol {
    margin-left: 40px;
}

.answer-content a {
    color: #2b6dad;
}

    .answer-content a:hover {
        text-decoration: underline;
    }

.answer-container-inner {
    font-size: 15px;
    line-height: 1.4;
}

.answer-panel-container > div {
    background-color: white;
    margin-bottom: 10px;
}

.answer-panel-container .view-all-answers a,
.question-content-footer {
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
}

.empty-question-footer {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8590a6;
}

    .empty-question-footer a {
        display: inline;
    }

    .empty-question-footer i {
        opacity: 0.3;
        margin-bottom: 10px;
    }

.answer-panel-content {
    padding: 0 20px;
    font-size: 16px;
}

.answer-footer {
    font-size: 14px;
    color: #8590a6;
    padding-bottom: 16px;
    margin-top: 10px;
    display: flex;
}

.answer-panel .answer-panel-header {
    padding-bottom: 10px;
}

.answer-panel:after {
    margin: 0 20px;
}

.write-answer {
    cursor: pointer;
    display: block;
    color: teal;
}

    .write-answer:hover {
        background-color: rgba(13,121,209,.06);
    }

    .write-answer i {
        margin: 0 5px;
    }

.answer-container .content-header {
    margin-bottom: 5px;
}

.answer-body .divided-section {
    padding: 16px 0;
}

    .answer-body .divided-section a:hover {
        text-decoration: underline;
    }

.answer-body .answer-item-footer {
    font-size: 14px;
    color: #8590a6;
    margin-top: 5px;
}

    .answer-body .answer-item-footer a:hover {
        text-decoration: underline;
        color: #2b6dad;
    }

.load-more {
    font-size: 14px;
    line-height: 1.5;
    color: #8590a6;
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    box-sizing: border-box;
}

    .load-more:active {
        background: #ddd;
        box-shadow: none;
    }

    .load-more.end-of-list {
        padding: 0;
        visibility: hidden;
    }

    .load-more > div {
        padding: 5px;
        border: 1px solid #bbb;
        background: linear-gradient(to bottom,#f8f8f9,#e6e6e8);
        box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0,0,0,.1);
        cursor: pointer;
        border-radius: 3px;
    }

/*#endregion Answer Detail*/


/*#region Home */

.question-answer-topic {
    color: #8590a6;
    font-size: 15px;
}

    .question-answer-topic a:hover {
        text-decoration: underline;
    }

.home-question-answer-container .question-answer-pair-container {
    padding: 16px 20px;
}
/*#endregion Home */


/*#region identity */


.login-link {
    cursor: pointer;
    height: 100%;
    line-height: 45px;
}

.login-link i {
    margin-right: 10px;
}


.login-inner {
    display: flex;
    align-items: flex-end;
}


.login-form-container form {
    display: inline-block;
    border-right: 1px solid #eee;
    width: 50%;
    margin-right: 60px;
}

.login-form-container .form-group,
.forgot-password-container .form-group {
    width: 420px;
}

.login-form-container .content-header,
.forgot-password-container .content-header {
    margin-bottom: 50px;
}

.forgot-password-container .btn {
    flex: 0 0 auto;
    margin-left: auto;
}

.login-buttons {
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 0;
}

    .login-buttons a {
        flex: 1 1 auto;
        font-size: 14px;
        color: #8590a6;
    }

        .login-buttons a:hover {
            text-decoration: underline;
        }

    .login-buttons .btn {
        flex: 0 0 auto;
    }

.register-container {
    display: inline-block;
}

    .register-container a {
        color: #2b6dad;
        margin-top: 15px;
        margin-left: 5px;
        display: inline-block;
        cursor: pointer;
    }

.modal-container .modal-inner .register-form {
    width: auto;
}

.modal-container .modal-inner.register-modal-inner {
    width: 450px;
}

.register-form .form-group {
    width: 360px;
}

.register-user-name {
    justify-content: space-between;
}

    .register-user-name input {
        width: 175px;
        flex-grow: 0;
    }
/*#endregion Identity*/

/*#region User Profile */

.user-profile-inner {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
    margin: 0 5px;
}

    .user-profile-inner .profile-photo {
        width: 25px;
        height: 25px;
        border-radius: 3px;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 1px 0 rgba(255,255,255,.1);
        background-color: transparent;
        margin-right: 10px;
    }

.user-profile-dropdown {
    position: absolute;
    right: 0;
    top: 45px;
}

.user-profile-dropdown-item {
    height: 40px;
    line-height: 40px;
    width: 120px;
    border-top: 1px solid #00796B;
    box-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: teal;
    color: white;
    cursor: pointer;
}

    .user-profile-dropdown-item i {
        margin-right: 10px;
    }

.user-profile-dropdown-item form {
    height: 100%;
    width: 100%;
}

    .user-profile-dropdown-item form button {
        height: 100%;
        width: 100%;
        border-radius: 0;
        border: 0;
        background-color: teal;
        color: white;
        cursor: pointer;
        padding: 0;
    }

/*#endregion User Profile*/
