@model iKnow.ViewModels.SearchResultViewModel

<div class="search-result">
    @if (Model.Topics.Any()) {
        <div class="search-result-section">
            <div class="search-result-title">Topic</div>
            <ul>
                @foreach (var topic in Model.Topics) {
                    <li>@Html.ActionLink(topic.Name, "Detail", "Topic", new { id = topic.Id }, null)</li>
                }
            </ul>
        </div>
    }
    @if (Model.QuestionsWithAnswerCount.Any()) {
        <div class="search-result-section">
            <div class="search-result-title">Questions</div>
            <div>
                @foreach (var question in Model.QuestionsWithAnswerCount) {
                    <div class="search-result-question">
                        <a href="@Url.Action("Detail", "Question", new {id = question.Key.Id})">
                            <span>@question.Key.Title</span>
                            <span class="search-answer-count">@(question.Value + " answer(s)")</span>
                        </a>
                    </div>
                }
            </div>
        </div>
    }
    @if (!Model.Topics.Any() && !Model.QuestionsWithAnswerCount.Any()) {
        <div class="search-no-result">No result found.</div>
    }
</div>