@model IEnumerable<iKnow.Core.Models.Topic>

<h3 class="sidebar-title">Recommended Topics</h3>
<div class="recommended-topic-list">
    @foreach (var topic in Model)
    {
        <div class="recommended-topic-item">
            <a href="@Url.Action("Detail", "Topic", new {id = topic.Id})" class="recommended-topic-img">
                <span class="img-container">
                    <img src=@topic.IconPath />
                </span>
            </a>
            <span>
                <a href="@Url.Action("Detail", "Topic", new {id = topic.Id})">
                    @topic.Name
                </a>
            </span>
        </div>
    }
</div>