@{
    ViewBag.Title = "Contact";
}

<div class="contact-container">
    <h3 class="content-header">@ViewBag.Title</h3>
    <div class="contact-content">
        <p>
            iKnow is a Quora-like open source project that aims to provide people with a platform where they can share their
            knowledge and different perspectives on various topics. As knowledge explodes in the modern society, sharing with
            and learning from other people have become more important than ever.
        </p>
        <p>Stay informed. Stay connected.</p>
        <p>
            Contact: <a href="mailto:liefuzhangnz@gmail.com">liefuzhangnz@gmail.com</a>
        </p>
        <p class="contact-note">
            <i>
                Note: for demonstration purpose, this site was created with some initial questions and answers. Most of
                the content originated from Quora (<a href="https://www.quora.com" target="_blank">https://www.quora.com</a>), and is thus subject to
                Quora's Terms of Service (<a href="https://www.quora.com/about/tos" target="_blank">https://www.quora.com/about/tos</a>).
            </i>
        </p>
        <div class="img-container">
            <img src="/Content/Images/connected-world.png" />
        </div>
    </div>
</div>

@section footer {
    <div class="footer content-container">
        &copy;&nbsp;@(DateTime.Now.Year + " iKnow")
        &middot;
        <span>@Html.ActionLink("Contact us", "Contact", "Home", null, new { @class = "text-link" })</span>
    </div>
}