@model iKnow.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-color: #f3f3f3;
    }
</style>

<div class="question-container-inner">
    <div class="main-content-container">
        <div class="home-question-answer-container question-answer-container load-more-list" data-current-page=@Model.Page>
            @Html.Partial("_QuestionAnswerPairPartial", Model.QuestionAnswers)
        </div>

        @Html.Partial("_LoadMorePartial")
    </div>

    <div class="sidebar question-sidebar"></div>
</div>


@section scripts {
    <script>
        $(".to-load").on("click", function () { loadMoreHandler.call(this, "home"); });
    </script>
}
